body
{
    background: url(/photos/backgroundclimb.jpg) no-repeat fixed top right;

}

.carousel-inner{
    width :100%;
    max-height: 200px; !important;
}
.containerCarousel{
    width:100%;
    max-height: 200px;!important;
}
