<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

<display-name>Archetype Created Web Application</display-name>
<!--><servlet>
    <servlet-name>ShowSpotServlet</servlet-name>
    <servlet-class>com.lade.Controller.ShowSpotServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ShowSpotServlet</servlet-name>
    <url-pattern>/ShowSpotServlet</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.lade.Controller.IndexServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/Index</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ShowSectorServlet</servlet-name>
    <servlet-class>com.lade.Controller.ShowSectorServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ShowSectorServlet</servlet-name>
    <url-pattern>/showSector</url-pattern>
</servlet-mapping><-->
<jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
</jsp-config>

</web-app>
